<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mood & Music</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="navbar navbar-default" style="background-color: black;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="index.html" style="color: white;">Mood & Music</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">More<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="TO BE DETERMINED">Visualizations</a></li>
            <li><a href="TO BE DETERMINED">Data Analysis</a></li>
          </ul>
         </li>
        </ul>
      </div>
    </nav>

      <div class = "container">
        <div class="row">

            <div class="col-md-12 pad top"> <br>
              <h3>How Are You Feeling?</h3> <br>
            </div>
            <br>
            <div class="col-md-12 pad top"> <br>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Select Your Mood:</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>Happy</option>
                    <option>Sad</option>
                    <option>Angry</option>
                    <option>Chill</option>
                    <option>Badass</option>
                  </select>
                </div>
              </form>
            </div>
        </div>

        <div class="row">

          <div class="col-md-6 pad top"> <br>
            <h3>We've Analyzed Your Mood</h3> <br>
          </div>
          <div class="col-md-6 pad top"> <br>
            <h3>Here's Top 10 Songs that match your mood</h3> <br>
          </div>
  
      </div>

        <div class="row">
    
            <div class="col-md-6 pad top"> <br>
    
                <div class="pull-left">
                <img src="Visualization of user's mood?" alt="user's mood" width="400" height=auto>
              </div>
    
              <div class="text-left">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
                  remaining essentially unchanged. It was popularised in the 1960s with the release of 
                  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
                  like Aldus PageMaker including versions of Lorem Ipsum.</p> <br>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
                  remaining essentially unchanged. It was popularised in the 1960s with the release of 
                  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
                  like Aldus PageMaker including versions of Lorem Ipsum.</p> 
              </div>
    
              <script type='text/javascript' src='https://us-west-2b.online.tableau.com/javascripts/api/viz_v1.js'></script>
              <div class='tableauPlaceholder' style='width: 800px; height: 600px;'>
                <object class='tableauViz' width='800' height='600' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' /> 
                  <param name='embed_code_version' value='3' /> 
                  <param name='site_root' value='&#47;t&#47;spotifymusicanalysis' />
                  <param name='name' value='ValenceData&#47;ValenceData' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='showAppBanner' value='false' /></object></div>
            </div>
    
            <div class="col-md-6 pad top"> <br>
              <!-- <div class="pull-right"> -->
                <table style="width:100%" id="table1">
                  <tr>
                    <th>Rank</th>
                    <th>Song Name</th> 
                    <th>Limk</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Rockstar</td>
                    <td>Spotify link 1</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Bliding Lights</td>
                    <td>Spotify link 2</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>What's Poppin</td>
                    <td>Spotify Link 3</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Savage</td>
                    <td>Spotify Link 4</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Roses</td>
                    <td>Spotify Link 5</td>
                  </tr>
                </table>
                </div>
    
              </div>
  
    
        </div>
    
    </div>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
  <script src="app.js"></script>

  </html>