body {
    background-color: black
}

h1 {
     color: rgb(30, 215, 96);
     background-color: white;
     font-family: "Helvetica", "Arial", sans-serif;
     font-weight: bold;
}

h3 {
     color: rgb(30, 215, 96);
     background-color: black;
     font-family: "Helvetica", "Arial", sans-serif;
     font-weight: bold;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
   font-family: sans-serif;
   color: white;
   font-size: 14
}

table {
        color: white;
}

form {
      color: white;
}

.nav-background {
                background-color: black;
}
.container {
  background-color: black;
}

.navbar {
         padding-left: 50px;
}

.navbar-brand {
               background-color:  rgb(30, 215, 96);
               font-family: "Helvetica", "Arial", sans-serif;
               font-weight: bold;
               font-size: x-large;
               color: black;
}
.pull-right {
  padding-right: 1in;
}

.pull-left {
  padding-left: 1in;
}
/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color:  rgb(30, 215, 96);
}

  .navbar-brand {
                 background-color: black;
                 font-family: "Arial", sans-serif;
                 font-weight: bold;
                 color:  rgb(30, 215, 96);
}
.navbar-collapse {
                                  background-color: black;
}